/* RTL Setup */
* { direction: rtl; }
.layout__ltr { direction: ltr; display: inline-block; }
body { text-align: right; }
.css__form input.filled:valid { border-right: 4px solid #0f0; }
.css__form input.filled:invalid { border-right: 4px solid #f00; }
.layout__align-left { text-align: right; }
.menu li { float: left; }
nav ul li ul { left: initial; right: 0; }
.header .logo { float: right; }
.title__with-image span { padding-right: 30px; }
.title__with-image img { float: right; }
.grid__service.grid__left div[class*='col-'] { float: right; }
.grid__service.grid__right div[class*='col-'] { float: left; }
.grid__service:nth-child(2n) .feed-card { transform: rotateZ(-2deg); }
.grid__service:nth-child(2n+1) .feed-card { transform: rotateZ(2deg); }
[class*='col-'] { float: right; }
.menu a.arrow:after { margin-right: 10px; margin-left: 1px; }
.order { border-right: 1px solid #000; }
.order:nth-child(2n), .order:last-child { border-left: 1px solid #000; }
select {
    background-position: 1% 50%;
    padding: .78em .5em;
    padding-left: 1.4em
}
@media screen and (max-width: 860px) {
    #menu-toggle-label, .icon-menu {
        right: initial; left: 0;
    }
}
