.admin-table, .admin-table td, .admin-table th {
    border-collapse: collapse;
}
.admin-table td, .admin-table th {
    border: 1px solid #a8b2bd;
    max-height: 36px;
    height: 36px;
    padding: 10px;
    overflow: hidden;
}
.admin-table {
    text-align: left;
    display: inline-block;
    margin: auto;
    max-width: 100%;
    font-size: 12px;
    overflow-x: auto;
    border-bottom: 1px solid #a8b2bd;
    border-left: 1px solid #a8b2bd;
}
.admin-table thead {
    top: 0;
    text-align: center;
}
.admin-table tbody tr:nth-child(odd) { background-color: #f0f0f0; }
.admin-table tbody tr:hover { background-color: #e8f2fd; }

.admin-table td, .admin-table th {
    display: block;
    border-width: 1px 1px 0 0;
}

.admin-table td.fix, .admin-table th.fix {
    display: table-cell;
    width: 0; min-width: 0; max-width: 0;
    padding: 0; margin: 0; border: none;
}
.admin-table span.fix {
    font-size: 0;
}
.admin-table span.fix:after {
    content: ".";
}
.admin-table td.actions form {
    position: absolute;
}
.admin-table td.size,
.admin-table td.ext { text-align: right; }

.filters th input {
    display: table-cell;
    width: 100%;
    margin-right:-3px;
}