<div class="row bg-black light-text">
    <div class="section center">
        <h1>{{ string('contact.about') }}</h1>
        <hr class="small">
        <p  class="align__left">
            {{ string('contact.about.value') }}
        </p>
    </div>
</div>
