<div class="row hero bg-blue bg__banner">
    <div class="section narrow center">
        <h1>
            {{ string('site.title') }}
        </h1>
        <hr class="small opacity-4">
        <h3>
            {{ string('site.description') }}
        </h3>
    </div>
</div>
