<div class="l flash">
    {% for type, messages in flashMessages() %}
        {% for message in messages %}
            <div class="{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    
    {# Not used. flash->addMessageNow used instead. #}
    {% if messages is defined %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <div class="js-flash"></div>
</div>